/* dark color scheme */

@media (prefers-color-scheme: dark) {
    .darkMode{
        background-color: black;
        color: white;
    }
    body {
        background-color: black;
        color: white;
    }
    .lightMode {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: light) {
    .lightMode {
        background-color: white;
        color: black;
    }
    .darkMode{
        background-color: black;
        color: white;
    }
    body {
        background-color: white;
        color: black;
    }
}




